<header>
    <div class="container">
        <div class="col-md-3">

        </div>
        <div class="col-md-9    ">


        </div>
    </div>
</header>


    <div class="navbar-nav">
        <mat-toolbar>
        <ul>
             <a class=""  href="" routerLink="/home">Home</a>
             <a class=""  href="" routerLink="/about">About Us</a>
             <a class=""  href="" routerLink="/delivery">Delivery</a>
             <a class=""  href="" routerLink="/legal-notice">Legal Notice</a>

    </ul>
    </mat-toolbar>
    </div>


    <router-outlet></router-outlet>

